/* styles.css */
/* estilo.css */

body {
    body {
    background-image: url(Centenario.jpg);
    background-size: cover; /* Ajusta el tama침o de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

}

h1 {
    text-align: center; /* Centrar el encabezado */
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline; /* Subrayar al pasar el rat칩n */
}

#Etapas {
    text-align: center;
}

.list-item {
    list-style-type: none; /* Eliminar vi침etas de la lista */
    font-size: 18px;
    margin-bottom: 5px;
}

#photo-image {
    display: block;
    margin: 0 auto; /* Centrar la imagen */
}

aside {
    text-align: center;
}

video {
    display: block;
    margin: 0 auto; /* Centrar el video */
}

#Proyectos-realizados {
    text-align: center;
}

aside h3 {
    color: #009688; /* Color del texto de la secci칩n de proyectos */
}

aside li {
    margin-bottom: 8px;
}

#Expo-realidad {
    text-align: center;
}
